@import url("./bootstrap.css");
body {
    background-color: rgb(10, 29, 134);
  }


  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    display: inline-block;
}
